{% extends "base.html" %}

{% load static %}

{% block contenido %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bolder mb-1">Mi Nombre es Azcarate José Augusto</h1>
            <h4 class="text-muted fst-italic mb-2"> Nací en Monte Caseros - Provincia de Corrientes y Actualmente vivo en Rio Gallegos - Santa Cruz </h4>
            <h4 class="text-muted fst-italic mb-2"> Estudio en la Universidad Nacional de la Patagonia Austral la carrera de Analista en Sistemas </h4>
            <h4 class="text-muted fst-italic mb-2"> Me gusta mucho la programación, la tecnología en general y
                 Tambien me encantan el deporte y soy hincha del club mas grande Boca Juniors y de la scaloneta</h4>
                 <h5 class="text-muted fst-italic mb-2">BlogForGeeks es una idea que nace como aficionado a las noticias acerca de la tecnología e innovaciones que se van dando en todo el mundo, en este blog vamos a poder contar con artículos que hablan desde bitcoin y criptomonedas similares, inteligencia artificial, programación, redes sociales y mucho mas!. Además los usuarios van a poder registrarse en pocos pasos para poder personalizar su perfil e intercambiar mensajes entre si.</h5>
            <h5 class="text-center"><a href="https://www.linkedin.com/in/augusto-azcarate-a8089418a/">Linkeind</a></h5>
            <h5 class="text-center"><a href="https://github.com/ajazc">Github</a></h5>
            <h5 class="text-center"><a href="https://twitter.com/Ajazc92">Twitter</a></h5>
            
        </div>
    </div>
</div>
{% endblock %}